<%= link_to "âŽ", :back %>
<div class = "container">
<br>
<h3 class="align">About Us</h3>
<br>
<pre>
Dolores quis quia ad quo voluptates. 
Maxime delectus totam numquam. 
Necessitatibus vel atque qui dolore.", "Id neque nemo.
Dolores iusto facere est ad. Accusamus ipsa dolor ut.", "Et officiis ut hic. 
Sunt asperiores minus distinctio debitis ipsa dolor. 
Minima eos deleniti.
</pre>