<%= link_to "âŽ", :back %>
<div class = "container">
<br>
<h3 class="align">Conditions of Use</h3>
<br>
<pre>

A Terms & Conditions Agreement (T&C) includes the terms, rules, and guidelines to which users must agree in order to gain access to a website or mobile app. It is also called "Terms of Use" or "Terms of Service."

This agreement lays out the terms for the use of a website or an app. If users disregard said rules, the agreement grants developers the right to discontinue the corresponding accounts.

Though a Terms and Conditions clause isn't required legally, it can often be a powerful tool for your business, especially in the case of User-Generated Content.

User-Generated Content is generally when submission of content to the platform is open to users. Some examples are collaborative story-writing websites, image-sharing websites or apps, maps in games, or even Pinterest boards.

Therefore, a Terms & Conditions clause is key if your business owns any app or website that puts forth user-generated content. However, it's difficult to know exactly what your T&C clause should include to protect your platform from any violations.

In this article, we will be going over how to set up the best "User-Generated Content" Clause in the Terms & Conditions for your UGC platform and be able to set the rules.

What is User-Generated Content?
User-generated content (UGC) is any kind of publicly viewable image, text, social media post, comment, video, or audio uploaded by a user onto a platform, instead of the developers of said platform.

Anyone who has ever uploaded an image to a photo-sharing website or a video to Youtube has created UGC. User-Generated Content is usually a great advantage for businesses to put in place self-perpetuating marketing and allow users to engage with their brand.

However, UGC has many copyright implications to do with stolen material and questions surrounding ownership. This is why it is important to take precautionary measures and set up a Terms & Conditions clause for your User-Generated Content platform.

What are the Benefits of a User-Generated Content Clause in a Terms and Conditions Agreement?
The main advantage of a T&C clause or agreement is the power to define a tailored list of obligations for the users of your platform.

With a T&C agreement, you'll be able to set up transparent payment norms and educate users on the proper uses of your platform as well as what will happen if they don't comply with the terms of the clause.

You will also be able to take advantage of the agreement to preserve the intellectual property of your platform, secure your liability, and encompass the legally required disclosures relevant to your field or industry.

What Should a User-Generated Content Clause Include?
Copyright
The most obvious legal issue surrounding UGC platforms would probably be related to copyright. The law of copyright can only be linked to representations in a concrete medium.

Copyright can be infringed upon by someone else copying, altering, or utilizing any original work. It seems as though this sort of infringement would likely happen in the case of User-Generated Content, where original content is published by users.

A copyright clause inside your platforms' T&C will ensure users know how to react if they have fallen victim to a copyright infringement as a result of your UGC.

</pre>