<%= link_to "⏎", :back %>
<div class = "container">
<br>
<h3 class="align">Contact Us</h3>
<br>

<p>
For answers to common questions, browse our Help Centre pages. If you need help with something more specific, have an in-store question, or need to contact us urgently, see below:
</p>
<p>
Our 24/7 call is a great way to get the help you need. If the chat appears offline, wait a moment and you will see the status switch to "Online".
If our live chat isn't available, please give us a call. We have a convenient call-back feature, so you won’t have to wait on hold.
</p>

