<div class="c2">
<br>
<h3>Favourite Products</h3>
   <br>
    <% @products.each do |product|%>
        <div>
            <p> <%= link_to product.name, product_path(product) %> </h3>
            <hr/>
        </div>
    <% end%>

    
 
