/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 
 .align {
    text-align: center;
    color:darkslategray
  }

  .box{
    width:600px;
    height:190px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
    justify-content:space-between;
  }
  #st-box {
    
      float:left;
      width:180px;
      height:160px;
      font-weight: bold;
  }
  #nd-box {
      float:left;
      width:180px;
      height:160px;
      margin-left:20px;
      font-weight: bold;
  }
  #rd-box {
      float:right;
      width:180px;
      height:160px;
      font-weight: bold; 
  }

.border{
  border: 1px solid grey;
}

.c2{
  margin-left:20px;
  margin-right: 20px;
  
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 6vw;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}





